* {
    box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
    .wrapper {
        display: grid;
        grid-template-rows: 15px auto 15px;
    }
}

@media only screen and (min-width: 481px) {
    .wrapper {
        display: grid;
    }
}